h1 {color: blue;}
h2 {
  color: red;
  margin-top: 1em;
  padding-top: 1em;
}
li {color: pink;}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  margin: 0 auto;
  max-width: 50em;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  background: #eee;
}
.parent {
    position: relative;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }