h1 {color: blue;}
h2 {color: red;}
li {color: pink;}

.parent {
    position: relative;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    text-align: center;
    text-transform: uppercase;
    color: blue;
  }